.iumage {
    background-repeat: no-repeat;
}

.container-fluid {
}

aside {
    /* background-color: #aad; */
}

.row {
}

.card {
    
}

.test {
    border: 3px solid red;
    box-sizing: border-box;
}
